<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png"></link>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/pfp.jpg" alt="profile pic" />
    </div>
    {{>footer}}
</body>

</html>